<div class="row">
    <div class="col-md-{%if loyalty_dashboard%}3{%else%}4{%endif%}">
         <a href="/app/order?customer={{customer_id}}">
        <div class="box" >
              <div class="dashboard-content">
            <div>
                
            <h5 style="color:#000000">
                <i class="fa fa-bar-chart" style="color: #c1c1c1;margin-right: 5px;font-size: 22px;"></i>{% if today_orders_count %}{{today_orders_count}}{%else%}0{%endif%}</h5>
            </div>
            <div>
                <p style="color:#000000; font-weight: 400;font-size: 15px;margin: 0;">Today Orders</p>
            </div>
            </div>
        </div>
    </a>
    </div>
     <div class="col-md-{%if loyalty_dashboard%}3{%else%}4{%endif%}">
         <a href="/app/order?customer={{customer_id}}">
        <div class="box" >
             <div class="dashboard-content">
            <div>
                
            <h5 style="color:#000000">
                <i class="fa fa-bar-chart" style="color: #c1c1c1;margin-right: 5px;font-size: 22px;"></i>{% if all_count %}{{all_count}}{%else%}0{%endif%}</h5>
            </div>
            <div>
                <p style="color:#000000; font-weight: 400;font-size: 15px;margin: 0;">Total Orders</p>
            </div>
            </div>
            

        </div>
    </a>
    </div>
    <div class="col-md-{%if loyalty_dashboard%}3{%else%}4{%endif%}">
        <a href="/app/wallet-transaction?party={{customer_id}}">
        <div class="box" >
            <div class="dashboard-content">
            <div>
                
            <h5 style="color:#000000">
                <i class="fa fa-briefcase" style="color: #c1c1c1;margin-right: 5px;font-size: 22px;"></i>{% if source %}{{currency}}{{source[0].current_wallet_amount}} {%else%}{{currency}} 0{%endif%}</h5>
            </div>
            <div>
                <p style="color:#000000; font-weight: 400;font-size: 15px;margin: 0;">Current Wallet Amount</p>
            </div>
            </div>
            
         

        </div>
    </a>
    </div>
    {%if loyalty_dashboard%}
    <div class="col-md-{%if loyalty_dashboard%}3{%else%}4{%endif%}">
        <a href="/desk#List/Loyalty%20Point%20Entry/List?customer={{customer_id}}">
        <div class="box" >
               <div class="dashboard-content">
            <div>
                
            <h5 style="color:#000000">
                <i class="fa fa-trophy" style="color: #c1c1c1;margin-right: 5px;font-size: 22px;"></i>{{total_available_points}}</h5>
            </div>
            <div>
                <p style="color:#000000; font-weight: 400;font-size: 15px;margin: 0;">Available Points</p>
            </div>
            </div>
            
            
        </div>
    </a>
    </div>
    {%endif%}
</div>

<style type="text/css">
    .box{
          border: 1px solid #ededed;
    padding: 15px;
    float: left;
    width: 100%;
    /* min-height: 95px; */
    color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    }
    .box h5{
        font-size: 25px;    margin-bottom: 0;
    }
    .dasboard-icon {
    float: left;
    width: 18%;
    font-size: 32px;
    padding-top: 10px;margin-right: 10px
}
.dashboard-content{

    float: left;
    width: 77%;

}
.box h5 {
    padding: 10px 0px;
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
}.dashboard-content {
    float: left;
    width: 100%;
}.box p {
    text-align: center;
}
.bg-color-2{
    background: linear-gradient(to left,rgba(255,255,255,0) 25%,rgba(255,255,255,0.1));
    background-color: #1484b9;
}

.bg-color-1 {
    background: linear-gradient(to left,rgba(255,255,255,0) 25%,rgba(255,255,255,0.2));
    background-color: #36bc72;
}
.bg-color-4 {
    background: linear-gradient(to left,rgba(255,255,255,0) 25%,rgba(255,255,255,0.3));
    background-color: #c72c4f;
}
.bg-color-3 {
    background: linear-gradient(to left,rgba(255,255,255,0) 25%,rgba(255,255,255,0.3));
    background-color: #f8a265;
}
[data-fieldname="customer_dashboard"] {
    margin-bottom: 0;
}
</style>