.select_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select_list ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f0f4f7;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  position: relative;
}

.select_list ul li:hover {
  background-color: #cfdce5;
}

.select_list .tick {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.select_list .tick:hover {background: #9db3c3;}